{{#each blog}}
<h1>{{title}}</h1>
<p>{{writeup}}</p>

<a href="/blog/edit/{{id}}">Edit</a>
<form action="/blog/{{id}}?_method=delete" method="post">
    <input type="submit" value="remove">
</form>
{{/each}}