<!DOCTYPE html>
<html>

<head>
  <title>A Fortnite Blog</title>
  <link rel="stylesheet" href="/stylesheets/app.css">
  <link rel="stylesheet" href="/stylesheets/foundation.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">
          <a href="/">Fortnite: The Blog</a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li>
          <a href="/">Home!</a>
        </li>
        <li>
          <a href="/blog/new">New Post!</a>
        </li>
        <li>
          <a href="#">Three</a>
        </li>
        <li>
          <a href="#">Four</a>
        </li>
      </ul>
    </div>
  </div>
  {{{body}}}
</body>

</html>