/* body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  font-size: 25pt;
} */
/* 
  .edit {
    font-size: 25pt;
  } */

small {
  font-size: 12;
}
