<div class="grid-x align-center">
    <div class="cell medium-8">
        <form action="/blog/{{id}}?_method=put" method="post">
            <input type="text" name="title" value="{{title}}">
            <textarea rows="10" cols="30" type="text" name="writeup"> {{writeup}} </textarea>
            <input type="text" name="youtubevideo " value="{{youtubevideo}}">
            <input type="submit" value="Save">
        </form>
    </div>
</div>