<h2>New Blog Post!:</h2>

<form action="/blog" method="post">
    <input type="text" name="title" placeholder="title">
    <input style="height:200px;font-size:14pt;" type="text" name="writeup" placeholder="Write Up / Content">
    <input type="text" name="youtubevideo" placeholder="Youtube Video">
    <input type="submit" value="Save">
</form>