<h1>{{title}}</h1>
<p>{{writeup}}</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{  youtubevideo }}" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen> </iframe>